<app-headermenu></app-headermenu>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/Anuncios.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/Siguenos.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/Dulces y más.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #d9d9d9;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #d9d9d9;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

 <h1 class="title">Catálogo Digital</h1>
 <p class="p">Descargar Gratis <i class="bi bi-file-earmark-arrow-down"></i></p>
<div class="container">
 <div class="download-card">
        <div class="card-content">
          <div class="text-group">
            <div class="card-icon">
                <img src="/assets/Catalogo.png" alt="Icono de PDF">
            </div>
            <div class="file-details">
                <h2 class="file-name">Catálogo de Productos</h2>
                <p class="file-info">Documento PDF &bull; 24.3 MB</p>
                <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.5</span>
                    </div>
            </div>
            </div>
            <div class="button-group">
            <a href="https://drive.google.com/file/d/19J9jZoCk-G9wGmFSmLD47v9T5IJRxqsa/view?usp=sharing" class="download-button" target="_blank">
                Ver Archivo
            </a>
            <a href="/assets/CATÁLOGO DE PRODUCTOS.pdf" class="download-button" download>
                Descargar Archivo
            </a>
            </div>
            </div>
        </div>
    </div>
    <p class="p2"></p>

    <app-footer></app-footer>