<div class="dashboard-container">
    
    <app-menu></app-menu>

    <div class="main-content">

    <h1 style="text-align: center; color: #e80c76;">Gestión de Productos</h1>

    <!-- Barra de búsqueda -->
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterProducts()" 
             placeholder="Buscar por nombre o categoria..." class="search-input">
      <i class='bx bx-search'></i>
    </div>

    <!-- Solo mostrar botón Agregar si no es cliente -->
        <button *ngIf="userRole !== 'cliente'" id="btnAgregar" class="btnAgregar" 
                (click)="openAddModal()" style="color: white; background-color: #e80c76;">
            <i class='bx bx-user-plus'></i> Agregar Producto
        </button>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>STOCK</th>
                        <th>Categoria</th>
                        <th>Fecha de Creación</th>
                        <th>Ultima Modificación</th>
                        <th *ngIf="userRole !== 'cliente'">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaProductos">
                    <tr *ngFor="let product of paginatedProducts">
                        <td data-label="Nombre">{{ product.nombre }}</td>
                        <td data-label="Precio">{{ product.precio | number:'1.2-2' }}</td>
                        <td data-label="Descripcion">{{ product.descripcion }}</td>
                        <td data-label="STOCK">{{ product.stock }}</td>
                        <td data-label="Categoria">{{ product.categoria }}</td>
                        <td data-label="Fecha Creación">{{ product.created_at | date }}</td>
                        <td data-label="Última Modificación">{{ product.updated_at | date }}</td>
                        <td data-label="Acciones" *ngIf="userRole !== 'cliente'">
                            <button (click)="openEditModal(product)"><i class='bx bx-edit'></i></button>
                            <button (click)="openDeleteModal(product)"><i class='bx bx-trash'></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="filteredProducts.length === 0">
                        <td [attr.colspan]="userRole === 'cliente' ? 7 : 8" class="no-data">No hay Productos Disponibles</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="goToPage(1)" [disabled]="currentPage === 1">
        <i class='bx bx-first-page'></i>
      </button>
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
        <i class='bx bx-chevron-left'></i>
      </button>
      
      <button *ngFor="let page of getPageNumbers()" 
              [class.active]="page === currentPage"
              (click)="goToPage(page)">
        {{ page }}
      </button>
      
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
        <i class='bx bx-chevron-right'></i>
      </button>
      <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">
        <i class='bx bx-last-page'></i>
      </button>
    </div>

<!-- Modal para agregar/editar producto -->
<div id="modal" class="modal" *ngIf="showAddModal || showEditModal">
    <div class="modal-contenido">
      <span (click)="showAddModal ? closeAddModal() : closeEditModal()" class="cerrar">&times;</span>
      <h2>{{ showAddModal ? 'Agregar Producto' : 'Editar Producto' }}</h2>
      <form [formGroup]="productsForm" (ngSubmit)="showAddModal ? addProducts() : updateProducts()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" required placeholder="Ingrese el Nombre" (keypress)="onKeyPress($event)" maxlength="50"/>
        <span *ngIf="productsForm.get('nombre')?.invalid && productsForm.get('nombre')?.touched" class="error-message">
          El Nombre es obligatorio
        </span>
        <span *ngIf="productsForm.get('nombre')?.errors?.['soloLetras']">Solo se permiten letras y espacios</span>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" formControlName="precio" required placeholder="Ingrese el Precio" step="0.01" (keypress)="soloNumerosConDecimales($event)" (input)="limitarDecimales($event, 10)"/>
        <span *ngIf="productsForm.get('precio')?.invalid && productsForm.get('precio')?.touched" class="error-message">
          El Precio es obligatorio
        </span>
        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" formControlName="descripcion" required placeholder="Ingrese la Descripcion del Producto" maxlength="50"/>
        <span *ngIf="productsForm.get('descripcion')?.invalid && productsForm.get('descripcion')?.touched" class="error-message">
          La Descripcion es obligatorio
        </span>
        <label for="stock">STOCK:</label>
        <input type="text" id="stock" formControlName="stock" required placeholder="Ingrese el STOCK" (keypress)="soloNumeros($event)" (input)="limitarLongitud($event, 10)"/>
        <span *ngIf="productsForm.get('stock')?.invalid && productsForm.get('stock')?.touched" class="error-message">
          El STOCK es obligatorio
        </span>
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" formControlName="categoria" required placeholder="Ingrese la Categoria" (keypress)="onKeyPress($event)" maxlength="50"/>
        <span *ngIf="productsForm.get('categoria')?.invalid && productsForm.get('categoria')?.touched" class="error-message">
          La Categoria es obligatorio
        </span>
        <button type="submit">
          <i class="bx bx-save"></i> {{ showAddModal ? 'Guardar' : 'Actualizar' }}
        </button>
      </form>
    </div>
  </div>

    <!-- Modal de confirmación para eliminar producto -->
<div id="modalConfirmacion" class="modal" *ngIf="showDeleteModal">
    <div class="modal-contenido">
      <p>¿Estás seguro de que quieres eliminar este producto?</p>
      <div class="modal-buttons">
      <button class="btnEliminar" (click)="deleteProducts()">
        <i class="bx bx-trash"></i> Eliminar
      </button>
      <button (click)="closeDeleteModal()">Cancelar</button>
    </div>
  </div>
    </div>
    </div>
</div>