<app-headermenu></app-headermenu>
<div class="group">
    <div class="container">
        <div class="cards-container">
            <div class="card mission">
                <h2>Misión</h2>
                <p>Ofrecer a nuestros clientes una atención cercana y productos de calidad que van desde dulces tradicionales hasta abarrotes esenciales, todo en un mismo lugar. Con más de 20 años de historia, nos enorgullece ser parte del día a día de nuestra comunidad, combinando precios justos, confianza y el sabor de la tradición.</p>
            </div>
            
            <div class="card vision">
                <h2>Visión</h2>
                <p>Consolidarnos como una de las tiendas de abarrotes y dulces más queridas de la ciudad, fortaleciendo nuestra presencia en el mercado y expandiéndonos hacia nuevas sucursales físicas y plataformas digitales, sin perder el trato familiar, la cercanía y los valores que nos han distinguido por generaciones.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>