<div class="dashboard-container">
    
    <app-menu></app-menu>

    <div class="main-content">

    <h1 style="text-align: center; color: #e80c76;">Gestión de Clientes</h1>

    <!-- Barra de búsqueda -->
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterClients()" 
             placeholder="Buscar por nombre o apellidos..." class="search-input">
      <i class='bx bx-search'></i>
    </div>

    <button id="btnAgregar" class="btnAgregar" (click)="openAddModal()" style="color: white; background-color: #e80c76;">
      <i class='bx bx-user-plus'></i> Agregar Cliente
    </button>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Teléfono</th>
            <th>Fecha de Creación</th>
            <th>Ultima Modificación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="tablaClientes">
          <tr *ngFor="let client of paginatedClients">
            <td data-label="Nombre">{{ client.nombre }}</td>
            <td data-label="Apellido Paterno">{{ client.appaterno }}</td>
            <td data-label="Apellido Materno">{{ client.apmaterno }}</td>
            <td data-label="Teléfono">{{ client.telefono }}</td>
            <td data-label="Fecha Creación">{{ client.created_at | date }}</td>
            <td data-label="Última Modificación">{{ client.updated_at | date }}</td>
            <td data-label="Acciones">
           <button (click)="openEditModal(client)"><i class='bx bx-edit'></i></button>
           <button (click)="openDeleteModal(client)"><i class='bx bx-trash'></i></button>
           </td>
          </tr>
          <tr *ngIf="filteredClients.length === 0">
            <td colspan="7" class="no-data">No hay Clientes Disponibles</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginación -->
    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="goToPage(1)" [disabled]="currentPage === 1">
        <i class='bx bx-first-page'></i>
      </button>
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
        <i class='bx bx-chevron-left'></i>
      </button>
      
      <button *ngFor="let page of getPageNumbers()" 
              [class.active]="page === currentPage"
              (click)="goToPage(page)">
        {{ page }}
      </button>
      
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
        <i class='bx bx-chevron-right'></i>
      </button>
      <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">
        <i class='bx bx-last-page'></i>
      </button>
    </div>

       <!-- Modal para agregar/editar cliente -->
<div id="modal" class="modal" *ngIf="showAddModal || showEditModal">
  <div class="modal-contenido">
    <span (click)="showAddModal ? closeAddModal() : closeEditModal()" class="cerrar">&times;</span>
    <h2>{{ showAddModal ? 'Agregar Cliente' : 'Editar Cliente' }}</h2>
    <form [formGroup]="clientsForm" (ngSubmit)="showAddModal ? addClients() : updateClients()">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" required placeholder="Ingrese el Nombre" (keypress)="onKeyPress($event)" maxlength="40"/>
      <span *ngIf="clientsForm.get('nombre')?.invalid && clientsForm.get('nombre')?.touched" class="error-message">
        El Nombre es obligatorio
      </span>
      <span *ngIf="clientsForm.get('nombre')?.errors?.['soloLetras']">Solo se permiten letras y espacios</span>
      <label for="appaterno">Apellido Paterno:</label>
      <input type="text" id="appaterno" formControlName="appaterno" required placeholder="Ingrese el Apellido Paterno" (keypress)="onKeyPress($event)"  maxlength="40"/>
      <span *ngIf="clientsForm.get('appaterno')?.invalid && clientsForm.get('appaterno')?.touched" class="error-message">
        El Apellido Paterno es obligatorio
      </span>
      <span *ngIf="clientsForm.get('appaterno')?.errors?.['soloLetras']">Solo se permiten letras y espacios</span>
      <label for="apmaterno">Apellido Materno:</label>
      <input type="text" id="apmaterno" formControlName="apmaterno" required placeholder="Ingrese el Apellido Materno" (keypress)="onKeyPress($event)"  maxlength="40"/>
      <span *ngIf="clientsForm.get('apmaterno')?.invalid && clientsForm.get('apmaterno')?.touched" class="error-message">
        El Apellido Materno es obligatorio
      </span>
      <span *ngIf="clientsForm.get('apmaterno')?.errors?.['soloLetras']">Solo se permiten letras y espacios</span>
      <label for="telefono">Telefono:</label>
      <input type="text" id="telefono" formControlName="telefono" required placeholder="Ingrese el Telefono" (keypress)="soloNumeros($event)" (input)="limitarLongitud($event, 10)"/>
      <span *ngIf="clientsForm.get('telefono')?.invalid && clientsForm.get('telefono')?.touched" class="error-message">
        El Telefono es obligatorio
      </span>
      <label for="correo">Correo:</label>
      <input type="email" id="correo" formControlName="correo" required placeholder="Ingrese el Correo" (input)="validarCorreo()" maxlength="60"/>
      <span *ngIf="clientsForm.get('correo')?.invalid && clientsForm.get('correo')?.touched" class="error-message">
        El Correo es obligatorio
      </span>
      <label for="contrasenia">Contraseña:</label>
      <input type="password" id="contrasenia" formControlName="contrasenia" required placeholder="Ingrese la Contraseña" maxlength="255"/>
      <span *ngIf="clientsForm.get('contrasenia')?.invalid && clientsForm.get('contrasenia')?.touched" class="error-message">
        La Contraseña es obligatorio
      </span>
      <button type="submit">
        <i class="bx bx-save"></i> {{ showAddModal ? 'Guardar' : 'Actualizar' }}
      </button>
    </form>
  </div>
</div>

<!-- Modal de confirmación para eliminar cliente -->
<div id="modalConfirmacion" class="modal" *ngIf="showDeleteModal">
  <div class="modal-contenido">
    <p>¿Estás seguro de que quieres eliminar este cliente?</p>
     <div class="modal-buttons">
    <button class="btnEliminar" (click)="deleteClients()">
      <i class="bx bx-trash"></i> Eliminar
    </button>
    <button (click)="closeDeleteModal()">Cancelar</button>
  </div>
</div>
</div>
</div>
</div>