<footer class="site-footer">
        <div class="footer-content">
            <p>Síguenos en Nuestras Redes Sociales</p>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/profile.php?id=61578307480491" target="_blank" aria-label="Facebook">
                    <img src="/assets/facebook_icon.png" alt="Facebook Icon">
                </a></li>
                <li><a href="https://wa.me/522711680728" target="_blank" aria-label="WhatsApp">
                    <img src="/assets/whatsapp_icon.png" alt="WhatsApp Icon">
                </a></li>
                <li><a href="https://www.instagram.com/dulcerialaricamiel/" target="_blank" aria-label="Instagram">
                    <img src="/assets/Instagram_logo.png" alt="Instagram Icon">
                </a></li>
            </ul>
            <div class="footer-bottom">
                &copy; 2025 Dulceria La Rica Miel | Todos los Derechos Reservados.
            </div>
        </div>
    </footer>